<!-- Navbar -->
  <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="imagenes/fondos/lotoverdeclaro.svg">
        <a class="navbar-brand logo" href="./">Sofia Spa</a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spa</a>
            <ul class="dropdown-menu">
              <li><a href="spa-manos.html">Spa de Manos</a></li>
              <li><a href="spa-pies.html">Spa de Pies</a></li>
              <li><a href="spa-pestanas.html">Spa de Pestañas</a></li>
              <li><a href="spa-cejas.html">Spa de Cejas</a></li>
            </ul>
          </li>
          <li><a href="estetica.html">Estética</a></li>
          <li><a href="depilacion.html">Depilación</a></li>
          <li><a href="relax.html">Relax</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="promociones.html">Promociones</a></li>
          <li><a href="turnos.html"><span class=" glyphicon glyphicon-calendar"></span> TURNOS</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Navbar -->
