{{#> layout title="Sofia Spa" seccion="Depilación"}}

  {{#*inline "css"}}
    <style type="text/css">
      .depilacion {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }
      .depilacion .intro h1 {
        text-align: center;
      }
      .depilacion .tecnica {
        margin-bottom: 30px;
      }
      .definitiva {
        margin-top: 30px;}
      h3 {
        color: #79d901;
      }
    </style>
  {{/inline}}

  {{#*inline "content"}}
    <div class="container depilacion img-underline">
      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Sistema Español
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <p>
              Se utiliza cera de abeja. Logrando realizar un trabajo eficaz en pocos minutos.</p>
              <p>Es de bajo contenido calórico, no arde ni irrita. Es higiénica y antiséptica, ideal para el cuidado de la piel.
            </p>
            <p>
              Dependiendo del cuerpo de cada una la duración es de aproximadamente 20 días.
            </p>
          </div>
          <div class="col-md-5">
            <div>
              <img src="imagenes/sistespaniol.jpg" class="imagen center-block img-responsive">
            </div>
          </div>
        </div>
      </div>
      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Sistema Descartable
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              Consiste en aplicar una fina capa de cera de baja temperatura, se fricciona sobre el paño y se retira rapidamente.
            </p>
            <p>
              El depilación descartable profesional puede utilizarse en todo tipo de pieles aún las más sensibles.
            </p>
            
          </div>
        </div>
      </div>
      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Depilación definitiva <small>Soprano XL/3G ICE Alma</small>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 definitiva">
            <img src="imagenes/definitiva.jpg" class="imagen center-block img-responsive">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 definitiva">

              <p>
                La depilación definitiva es una técnica que ha adquirido más popularidad en los últimos años. Actualmente es uno de los métodos más elegidos para eliminar el vello en las distintas zonas del cuerpo. Pudiendose ver en la tercer sesión una eliminación entre un 70% u 80% del vello. 
              </p>
          
              <h3>Sobre Soprano XL </h3>

              <p>Soprano es efectivo para todo tipo de piel y vello. Es para hombres y mujeres. Es seguro y efectivo. Permite hacer tratamiento en zonas extensas como: piernas, espalda, glúteos, brazos.</p>

              

              <p> Brinda resultados óptimos a partir de calentamiento progresivo de la dermis hasta una temperatura que elimina el folículo en forma permanente y previene el re-crecimiento, sin necesidad de analgésicos o sistema de enfriamiento extra. </p>

              <h3>Beneficios</h3>

            <ul>
                <li>Puede tratar grandes zonas al mismo tiempo.</li>

                <li>Actua con igual eficacia en pieles claras y oscuras.</li>
                <li> Reduce probabiliaddes de cambios pigmentarios.

               </li>
            
               <li> Permite tratar vello incluso en zonas altamente sencibles como bozo o mamas.

              </li>

            
           </ul>

           <h3>Como Funciona</h3>

           <p>El Láser Soprano es actualmente el equipo más seguro y eficaz porque calienta gradualmente la zona de la piel donde se ubican los folículos (la raíz del pelo) hasta producir un daño permanente sin afectar la superficie de la piel. Es normal notar que los pelitos comienzan a caerse a los 10 días posteriores a la sesión. En algunos casos los pelos se siguen cayendo luego de 60 días posteriores al tratamiento.</p>
           
           <h3>Zonas de tratamiento.</h3>
            <ul>
              <li> Zona pequeña de la frente: Frente / Bozo/ Mentón/ Patillas/ Pómulos/ Linea Umbilical/ Sacro / Rebaje corto
              </li> 
              <li>Zona mediana: Axila/ Medio Rostro/ Medio Brazo/ Media Pierna/ Media Espalda/ Glúteos/ Pecho varón/ Hombros

                </li>

                <li>Zona Grande: Abdomen/ Espalda/ Pierna Completa/ Brazo completo/ Cavado completo.
                </li>
            </ul>


          </div>
          
          </div>
        </div>
      </div>
    </div>
    {{>link-promos}}
  {{/inline}}

{{/layout}}
