{{#> layout title="Sofia Spa" seccion="Estética"}}

  {{#*inline "css"}}
    <style type="text/css">
      .estetica {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }

      .estetica h1 {
        text-align: center;
      }
      .heading2 {
        text-align: center;

        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 3.5em;
        background-color: #79d901;
        color: #346473;
        background-image: url("imagenes/fondos/orange-lotus-flower-picture-footer.svg");
        background-repeat: no-repeat;
        background-size: 0%;
        background-position: 50% 46%;
        font-family: "Josefin Sans", sans-serif;
        padding: 10px;
      }
      .heading3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
        background-color: #346473;
        color: #79d901;
        font-size: 3.5em;
        background-image: url("imagenes/fondos/orange-lotus-flower-picture-footer.svg");
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 50% 46%;
        font-family: "Josefin Sans", sans-serif;
        padding:10px;
      }
      .heading3 .row {
        margin-right: 0;
        margin-left: 0;
      }
     .columna{
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        margin-bottom: 40px;
      }
      .naranja{
        color:#EC954E;
      }
      .vela h1 {
        font-size: 1.5em;
      }
      .vela {
        margin-top: 30px;
      }
      .heading2 .row {
        margin-right: 0;
        padding: 10px;
      }
      @media screen and (max-width: 767px) {
        .heading3 img {
          display: none;
        }
        .vela h1 {
          font-size: 1em;
        }
      }
    </style>
  {{/inline}}

  {{#*inline "content"}}
    <div class="container estetica">
      <div class="row">
        <div class="col-md-6 ">
          <h2>Corporal</h2>
          <p>
            La celulitis, la adiposidad localizada y la flacidez corporal son nuestra mayor preocupación.
          </p>
          <p>
            Sin duda en Sofía Spa encontraras el paquete de sesiones acorde a tu necesidad.
          </p>
          <p>
            Si acaso no tienes orientación de qué necesitas, estamos a tu disposición para ayudarte y recomendarte la combinación adecuada, desde lo manual realizado por expertas profesionales, todo el sistema de Aparatología con el que contamos hasta los principios activos sumistrados por farmacias dedicadas a la elaboración de los mejores productos cosméticos.
          </p>
          <p>Nuestros Equipos:</p>
          <ul>
            <li>Presoterapia o bolas de drenaje linfático</li>
            <li>Electroestimulación</li>
            <li>Ondas Rusas</li>
            <li>Ultrasonido</li>
            <li>Radiofreciencia</li>
            <li>Cavitación</li>
            <li>Masajes manuales reductoras</li>
            <li>Masajes manuales amasamiento</li>
            <li>Endemoligia</li>
            
          </ul>
        </div>
        <div class="col-md-6 ">
          <h2>Facial</h2>
          <p>Sofia siempre piensa en el cuidado de tu rostro ofreciendote los siguientes servicios:</p>
          <ul>
            <li>Limpieza de Cutis.</li>
            <li>Punta de Diamante o Mecánico.</li>
            <li>Peeling Químico.</li>
            <li>Aparatología Facial.</li>
            <li>Tratamiento para Manchas o Máculas.</li>
            <li>Tratamiento para cicatrices.</li>
            <li>Tratamiento para el Acné.</li>
            <li>Tratamiento AntiAge cosmecéutico.</li>
            <li>Lifting Facial cosmecéutico.</li>
            <li>Tratamiento de rejuvenecimiento de la Piel en cara, cuello y escote.</li>
            <li>Drenaje Linfático Facial post cirugía.</li>
            <li>Shocks Faciales (los 3 pueden hacerse al mismo tiempo)</li>
            <ul>
              <li>Shock de Nutrición.</li>
              <li>Shock de Hidratación.</li>
              <li>Shock de Vitaminas Anti Radicales Libres.</li>
            </ul>
          </ul>
        </div>

      </div>
    </div>

    <h1 class="heading2"> Aparatología </h1>

      <div class="heading3">

        <div class="row">
          <div class="col-md-2 col-md-offset-2">
            <img src="imagenes/velaaltacalidad-transparent.png">
          </div>
          <div class="col-md-6 vela">
            <h1 class="vela">Velashape II </h1>
            <h3>El tratamiento más requerido en Argentina, ahora en Sofia Spa</h3>
          </div>
        </div>
      </div>

        <div class="container columna">
        <div class="row ">
          <div class="col-md-12 ">
            <h2>¿Qué es?</h2>
            <p>Velashape II es la nueva generación de tratamientos integrales para tratar tu cuerpo.
             Este sistema modela y reduce la circunferencia corporal en tan solo 6 sesiones. Brinda grandes resultados sin tiempo de inactividad o molestias. El secreto detrás del Velashape II consiste en que combina 4 tecnologÍas en un solo equipo: infrarrojo, radiofrecuencia, vacumterapia y masaje de rodillo.

            </p>

            <h2>¿Para qué sirve?</h2>
            El tratamiento con Velashape II es ideal para reducir el contorno corporal de aquellas zonas donde la grasa generalmente se localiza como ser el abdomen y los muslos, con el tratamiento de Velashape II se puede además:

            <ul>
              <li>Eliminar grasa localizada de piernas, cintura y brazos</li>
              <li>Modelar el contorno corporal</li>
              <li>Reafirmar la piel</li>
              <li>Reducir la circunferencia corporal</li>
              <li>Reducir celulitis y aparición de tejido graso</li>

            </ul>
            
          </div>
        </div>
      </div>





     <div class="heading3">

        <div class="row">
          <div class="col-md-2 col-md-offset-2">
            <img src="imagenes/venus-transparent-300.png">
          </div>
          <div class="col-md-6 vela">
            <h1 class="vela">Venus Freeze </h1>
            <h3>Decile chau a la flacidez, celulitis y arrugas faciales</h3>
          </div>
        </div>
      </div>

        <div class="container columna">
        <div class="row ">
          <div class="col-md-12">
            <h2>¿Qué es?</h2>
            <p>
              Venus Freeze combina radiofrecuencia multipolar con pulsos magnéticos. Esto brinda una rápida generación de calor sin dolor para el paciente. Se puede tratar 23 cm<sup>3</sup> de piel en una sola pasada, reduciendo 4 veces el tiempo del tratamiento corporal. </p>

            <h2>¿Para qué sirve?</h2>
            <ul>
              <li>Lipólisis no invasiva</li>
              <li>Reafirmación de la piel post-parto</li>
              <li>Mejora la silueta corporal</li>
              <li>mejora la elasticidad y textura de la piel</li>
              <li>Anti-Aging Facial</li>
              <li>Reducción de la circunferencia del abdomen, brazos y muslos</li>
            </ul>

            <h2>¿Cómo funciona?</h2>
            <p>

            Utilizando tecnología patentada (MP)<sup>2</sup>. Venus Freeze utiliza radiofrecuencia multipolar con campos magnéticos pulsados que produce una matriz de calor relajante y terapéutica sobre la piel.
            El estiramiento de la piel, reducción de arrugas y de celulitis ocurre debido a que la radiofrecuencia multipolar ocasiona una reacción termal en los tejidos que estimula la reacción natural de curación del cuerpo.
            Esta respuesta restauradora hace que se forme nuevo colágeno y se produzcan nuevas fibras de elastina.
            El colágeno activo en la piel se contrae, logrando asi afirmar la piel, suavizar las arrugas y reducir las celulitis.

            </p>

            <h2>Resultados</h2>

            <ul>
              <li><span>Angiogénesis:</span> Reporta importante beneficios antienvejecimiento.</li>
              <li><span>Lipólisis:</span> Reduce la celulitis y remodela la circunferencia del área tratada.</li>
              <li><span> Reestructuración del colágeno y la elastina:</span> Hace que sean menos extensas, más gruesas, más elásticas y tensas.</li>
              <li><span>Regeneración del colágeno:</span> Estimula fibroblastos produciendo nuevas fibras de elastina y colágeno.</li>

            </ul>



          </div>
        </div>
      </div>

          <div class="heading3">

             <div class="row">
              <div class="col-md-2 col-md-offset-2">
                <img src="imagenes/Profesionales/cryo2.png">
              </div>
              <div class="col-md-6 vela">
                <h1 class="vela">Cryo-0°</h1>
                <h3>Cryolipolisis! Decile adios a la grasa localizada</h3>
              </div>
            </div>
          </div>

            <div class="container columna">
              <div class="row ">
                <div class="col-md-12">
                  <h2>¿Qué es la Cryolipólisis?</h2>
                  <p>
                    La Cryolipólisis es un método desarrollado por científicos de la Universidad de Hardvard que permite eliminar células grasas por medio de la aplicación controlada y precisa del frío intenso. Los excelentes resultados de esta terapia para la reducción y modelación corporal ha causado furor a nivel mundial. 
                    Una de las característcas de esta terapia es que permite reducir y modelar el cuerpo sin cirugías, evitando dolorosos posoperatorios y prolongados reposos. Es un procedimiento seguro, donde se aplican temperaturas bajo cero al tejido adiposo para congelar las células grasas, que posteriormente serán eliminadas por el cuerpo de forma natural.  
                  </p>
                  <h2>Indicado para tratar</h2>
                  <ul>
                    <li>Contornos corporales
                    </li>
                    <li>Celulitis
                    </li>
                    <li>Adipocidades Localizadas
                    </li>
                  </ul>

                  

              </div>
            </div>

          
      </div>

     <div class="heading3">

             <div class="row">
              <div class="col-md-2 col-md-offset-2">
                <img src="imagenes/Profesionales/frax-chica.png">
              </div>
              <div class="col-md-6 vela">
                <h1 class="vela">Frax Plus 350</h1>
                <h3>Tratamiento facial absolutamente innovador</h3>
              </div>
            </div>
          </div>

            <div class="container columna">
              <div class="row ">
                <div class="col-md-12">
                  <h2>¿Qué es Frax Plus?</h2>
                  <p>
                    Otra tecnología que llegó para ayudar a estimular el colágeno y elastina. A diferencia
                    del Hifu, el Frax Plus 350 actúa a nivel epidérmico mandando información a las
                    células para que estas se pongan a trabajar y así lograr un colágeno nuevo y sano.
                    Frax-Plus 350 es un radiofrecuencia punto a punto (fraccionado) que entrega energía
                    con micropúntos provocando diferentes grados de temperatura interna. Con la
                    característica fundamental de dejar tejidos circundantes sanos rodeando cada uno de
                    estos puntos. Frax-Plus provoca energía piramidal invertida con una mínima
                    disrupción en la epidermis. 
                  </p>
                  <h2>¿Sobre qué trabaja?</h2>
                  <ul>
                    <li>Elimina líneas finas
                    </li>
                    <li>Cicatrices y poros dilatados
                    </li>
                    <li>Cicatrices de Acné
                    </li>
                    <li>Irregularidades de la piel
                    </li>
                    <li>Foto envejecimiento
                    </li>
                    <li>Falta de tono y brillo
                    </li>
                    <li>Cicatrices hipertróficas
                    </li>
                    <li>Estrías
                    </li>
                    <li>Queratosis
                    </li>
                    <li>Efecto Lifting (Estiramiento de la piel)
                    </li>

                  </ul>

                  

              </div>
            </div>
    </div>





    {{>link-promos}}
  {{/inline}}

{{/layout}}
