{{#> layout title="Sofia Spa" seccion="Relax"}}

  {{#*inline "css"}}
    <style type="text/css">
      .relax {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }
      .relax .intro h1 {
        text-align: center;
      }
      .relax .tecnica {
        margin-bottom: 30px;
      }
      ul.relax {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.3em;
      }
      .hora {
        font-size: 1.5em;
        margin-top:10px;
      }
      .heading2 {
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 3.5em;
        color: #79d901;
        background-color: #346473;
        background-image: url("imagenes/fondos/orange-lotus-flower-picture-footer.svg");
        background-repeat: no-repeat;
        background-size: 0%;
        background-position: 50% 46%;
        font-family: "Josefin Sans", sans-serif;
        padding: 5px;
       }
       .hora {
        color:#000;
        font-size: 0.75em;
        white-space: nowrap;
      }
    </style>
  {{/inline}}

  {{#*inline "content"}}

    <div class="subheading-image">
      <img src="imagenes/Profesionales/relaxfinal2.jpg">
    </div>
    <div class="container relax ">
      <div class="intro">
        <div class="row">
          <div class="col-md-12">
            <p>
              ¿Estás tenso/a, con contracturas después de un largo día laboral, con tus hijos, trámites, etc?
            </p>
            <p>
              ¿Necesitás relajarte y conectarte con vos mismo/a?
            </p>
            <p>
              Sofía Spa te ofrece de los mejores masajes descontracturantes, relajantes, de la mano de profesionales expertos en cada una de las técnicas, muchas de ellas milenarias y muy efectivas.
            </p>
            <p>
              Todo se realiza en un clima cálido, adecuado con el objetivo de que te armonices y encares tu vida radiante.
            </p>
          </div>
        </div>
        </div>
      </div>

      <div class="row heading2">
        <div class="col-md-12">
          <h1>Nuestras Técnicas</h1>
        </div>
      </div>

    <div class="container relax img-underline">

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Masaje Descontracturante | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="imagenes/descontracturante3.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7">
            <p>
              Ideal para momentos en donde nuestros cuerpo comienza a sentir signos de estrés. El masaje consiste en maniobras que posibilitan la relajación muscular, alivian contracturas, reducen el estrés, activan la circulación sanguínea y linfática, tonifican los músculos y actúan sobre las terminaciones nerviosas sedando y/o energizando.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Dígitopuntura | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 30min</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-push-7">
            <img src="imagenes/digitopuntura.jpg" class="imagen center-block img-responsive">
          </div>
          <div class="col-md-7 col-md-pull-5">
            <p>
              Se basa sobre los mismos puntos de acupuntura pero sin aguja y con la yema de los dedos. Se trabaja sobre los 12 meridianos: Pulmón, intestino grueso, bazo, estómago, pericardio, intestino delgado, vejiga, corazón, triple calentador, riñón, vesícula biliar e hígado. Técnica ideal que favorece a eliminar cargas psíquicas, mejorar la circulación sanguínea, eliminar fatigas, estimular las defensas del organismo, mejorar el autoestima, entre otros beneficios.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Reiki | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="imagenes/reiki.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7">
            <p>
              El Reiki habla de la energía curativa natural que se transmite de una persona a otra mediante la imposición de manos. Se trabaja directamente con el campo energético del paciente, incidiendo directamente sobre los bloqueos que perturban la libre circulación de la energía, de esta manera se logra restaurar y armonizar su sistema. El objetivo es la curación del cuerpo y la mente.
              Es una terapia alternativa ideal para personas con necesidad de armonización.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
          <div class="row">
          <div class="col-md-12">
            <h2>Reflexoloxía pédica | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 30min</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-push-7">
            <img src="imagenes/reflexologia.jpg" class="imagen center-block img-responsive">
          </div>
          <div class="col-md-7 col-md-pull-5">
            <p>
              Reflexología pédica es la práctica de estimular puntos sobre los pies, puntos que son llamados zonas de reflejo. Esta técnica logra generar un efecto benéfico sobre distintas partes del cuerpo que conectan con dichas zonas, logrando asi mejorar la salud general.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Masaje con Piedras Calientes | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="imagenes/piedrascalientes3.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7">
            <p>
              Utiliza la irradiación natural de calor de rocas ígneas y metamórficas estimulando los centros nerviosos o chacras para activar la circulación y abrir los canales de energía. Es altamente efectiva a la hora de combatir el estrés.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Masaje con Esferas Chinas | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-push-7">
            <img src="imagenes/esferaschinas.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7 col-md-pull-5">
            <p>
              Esta terápia como tantas otras tiene sus origenes en China, país precursor de todo tipo de terapias naturales. Es una técnica que se caracteriza por conseguir un doble efecto generado por las esferas, mediante la unión armonica del sonido que es provocado al agitarlas y el masaje.
              Por lo tanto no solo libera de todo tipo tensiones sino que su sonido armoniza cuerpo y mente.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Masaje con Cañas de Bambú | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="imagenes/bambu.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7">
            <p>
              Se trata de una técnica que reactiva los trastornos circulatorios, combate la celulitis y remodela la silueta gracias a las diferentes longitudes y diámetros de las cañas de bambú que se adaptan perfectamente a los contornos corporales remodelando la figura. A su vez elimina todo tipo de tensiones.
            </p>
          </div>
        </div>
      </div>

      <div class="tecnica">
        <div class="row">
          <div class="col-md-12">
            <h2>Masaje express <small>(espalda, cervical y brazos)</small> | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 30min</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-push-7">
            <img src="imagenes/descontracturante2.jpg" class="imagen center-block img-responsive">
            
          </div>
          <div class="col-md-7 col-md-pull-5">
            <p>
              La espalda, cervical y brazos en su mayoria son el centro de nuestras cargas emocionales y por ende centro de contracturas. Aplicando los mismos principios que el masaje descontracturante, te ofrecemos un masaje express, rápido, relajante y eficaz sobre dichas zonas.
            </p>
          </div>
        </div>
      </div>
    </div>
    {{>link-promos}}
  {{/inline}}

{{/layout}}
