{{#> layout title="Sofia Spa" seccion="Spa de Cejas"}}

  {{#*inline "css"}}
    <style type="text/css">
      .cejas {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }
      .galeria img{
        margin-bottom: 30px;
      }
      .hora {
        color:#000;
        font-size: 0.75em;
        white-space: nowrap;
      }

    </style>
  {{/inline}}

  {{#*inline "content"}}
  <div class="subheading-image">
      <img src="imagenes/Profesionales/cejafinal.jpg">
    </div>
    <div class="container cejas">
      <h3 style="text-align:center">
        En esta sección describimos todos los servicios que Sofia Spa ofrece para la belleza y bienestar de tus cejas.
      </h3>
    </div>
    <div class="container cejas img-underline">

      <div class="row">
      <div class="col-md-12">
          <h2>
          Perfilado | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 30min</span>
        </h2>
      </div>
      </div>


       <div class="row galeria">
        <div class="col-md-8">
          <h3>
        ¿De qué trata de el perfilado de cejas?
      </h3>
      <p>
        Las cejas son el marco de nuestra mirada y muchas veces las encontramos muy pobladas, sin forma, demasiado abundantes, totalmente desparejas con distinta forma una de otra. Esta técnica brinda la solución a todo eso.
      </p>
      <p>
        Es una técnica profesional y diferente. Se trabaja en forma de ceja en espejo sobre tus cejas naturales, considerando la forma de tu rostro. Acorde a eso, se aplica la forma de ceja correspondiente.
      </p>
      <p>
        La duración del tratamiento de gabinete es de aproximadamente 30 minutos.
      </p>

        </div>
        <div class="col-md-4">
          <img src="imagenes/perfilado/perfilado1.jpg" class="img-responsive">
        </div>
       </div>
      

      <h2>
        Tintura y Hena | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 15min</span>
      </h2>
      <h3>
        Tintura de cejas, por un look más natural.
      </h3>
      <p>
        Cuantas veces sucede que nuestro color de pelo no coincide con el de nuestras cejas, sobre todo cuando nos teñimos.
        Nuestro objetivo es brindarte un look equilibrado y natural, trabajando siempre con productos de alta calidad para tu cuidado y protección.
        Las tinturas que trabajamos son las mismas que para tintura de pestañas, son hipoalergénicas, de marcas internacionales y las coloraciones que utilizamos son marrón y negro azabache. 
      </p>

       <h3>Hena</h3>
       <p>
        Es una tintura natural que a parte de teñir el vello tiñe la piel dandole un fondo a la ceja muy seductor cuando son ralas.
        Este procedimiento dura unos minutos y la durabilidad es de 7 días.
        Para más duración y para la misma patología de cejas raleadas, encontramos la solución con el microblading.</p>
      <p>Animate a un look más natural!</p>


     

     <div class="row">
      <div class="col-md-12">
        <h2>
        Microblading
      </h2>
      <h3>
        ¿Qué es el Microblading?
      </h3>
      <p>Es un método de maquillaje semipermanente que consiste en la aplicación de pigmentos en la capa dérmica de la piel, mediante microagujas insertadas en forma de cuchillas. 
      De este modo es como se implanta pigmento en los pelos de tus cejas, generando un efecto 3D, con la forma deseada. 

    
        
      </p>El Microbalding se recomienda para mujeres y hombres que quieran cejas abundantes, enmarcadas, perfectas y naturales.
      La perfección y la naturalidad que se logra es porque el tratamiento admite utilizar diferentes colores y dar trazos finos. A su vez sirve para mejorar alguna dermopigmentación decolorida. 
      
      <p>Utilizamos herramientas innovadoras, lo realizamos a mano alzada y es mucho menos dolorosa que una Dermopigmentación.</p>
    
      <p>
         La durabilidad del tratamiento es de 2 años.
      </p>
      <p>
        Es apto para diabéticos, anticuagulados ya que es un sistema que no provoca sangrado.
      </p>
      </div>
     </div>

     <div class="row galeria">

          <div class="col-md-6">
            <img src="imagenes/microbliding/micro1.jpeg" class="img-responsive">

          </div>
          <div class="col-md-6">
            <img src="imagenes/microbliding/micro2.jpeg" class="img-responsive">

          </div>

     </div>


      
      
    

    <div class="row">
      <div class="col-md-12">
        <h2>
        Dermopigmentación
      </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3>
        ¿Qué es la Dermopigmentación?
      </h3>
      <p>
        La Dermopigmentación también es un método de maquillaje semipermanente que consiste en la aplicación de pigmentos en la capa dérmica de la piel mediante microagujas hasta una profundidad de 9 mm. 

         </p>

        <p>La Dermopigmentación se puede aplicar para la alopecia en cejas o para las que poseen casi nada de vellos. Se aplica también en labios (perímetro y relleno), para delineado superior e inferior de ojos. Se utiliza a su vez para camuflar cicatrices como las provocadas por quemaduras, para restauración aereolas y pezón, entre otras aplicaciones </p>
        
        <p> La Dermopigmentación también es muy recomendada para aquellas mujeres que quieran no perder tiempo maquillandose diariamente. 
      </p>
      <p> Todos los pigmentos que utilizamos son hipoalergénicos y autorizados por el ministerio de salud. </p>
      <p>La Duración del tratamiento es de 2 a 4 años.
        </p>
      </div>

      
      <div class="col-md-4 galeria">
        <div class="row">
          <div class="col-md-12">
            <img src="imagenes/Profesionales/cejasmicro.jpg"class="img-responsive ">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><img src="imagenes/Profesionales/dermoojos.jpg" class="img-responsive ">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><img src="imagenes/Profesionales/microlabio.jpg"class="img-responsive ">
          </div>
        </div>

      </div>
     </div>
     <div class="row">
        <div class="col-md-12">
            <h3>Seciones necesarias</h3>
            <p>La sesiones necesarias son 2. Una inicial y una de repaso. Debido a la pequeña descamación que provoca el procedimiento se requiere de una segunda sesión para acentuar el pigmento y perfeccionar el implante. Esto es con una diferencia de 28 días. </p>
            <h3>¿Hay dolor en la Sesiones?</h3>
            <p>Topicamos con anestecias locales y todo depende del umbral de dolor de cada persona.
            La seguridad del procedimiento depende exclusivamente del lugar, la esterilización y del cumplimiento de normas sanitarias existentes. </p>
            <h3>Consejos Posdermopigmentación</h3>
            <p> <ul>
              <li>Aplicar vaselina sólida durante 1 semana</li>
              <li>No se debe debe exponer al sol durante 30 días.</li>
              <li>No se puede aplicar maquillajes durante la 1er semana después de realizado el procedimiento.</li>
              <li>No se puede rascar la zona o frotar en forma bruzca.</li>
              <li>No hacerse sauna o baño turco ni playa ni piscinas durante quince días posteriores al tratamiento.</li>
            </ul>
            </p>
        </div>
      </div>

    </div>
    {{>link-promos}}
  {{/inline}}

{{/layout}}
