{{#> layout title="Sofia Spa" seccion="Spa de Manos" custom-scripts=true}}
  {{#*inline "css"}}
    <!-- photoswipe CSS files -->
    <link rel="stylesheet" href="css/ps/photoswipe.css">
    <link rel="stylesheet" href="css/ps/default-skin/default-skin.css">
    <!-- Section CSS -->
    <style type="text/css">
      .manos {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }

      .manos h3 {
        margin-top: 0;
      }

      .regular {
        margin-top: 36px;
      }

      .item {
        padding: 2px;
        margin-bottom: 2px;
        overflow: hidden;
        max-height: 185px;
      }
      .item img {
        margin: auto;
      }
      .item .cover {
        padding-top: 100px;
        opacity: 0;
        position: relative;
        max-width: 390px;
        text-align: center;
        background-color: #9bdf46;
        transition: opacity 0.2s;
        top: -240px;
        min-height: 240px;
        pointer-events: none;
        margin: auto;
      }

      .item:hover .cover {
        opacity: 0.7;
      }

      .heading3 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 3.5em;
        background-color: #346473;
        color: #79d901;
        font-size: 3.5em;
        background-image: url("imagenes/fondos/orange-lotus-flower-picture-footer.svg");
        background-repeat: no-repeat;
        background-size: 0%;
        background-position: 50% 46%;
        font-family: "Josefin Sans", sans-serif;
        padding-right: 35px;
      }
      .circulo img{
        border-radius: 100%;
        margin-top: 30px;
        padding: 10px;
      }
      .circulo {
        margin: auto;
        max-width: 406px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .hora {
        color:#000;
        font-size: 0.75em;
        white-space: nowrap;
      }
    </style>
  {{/inline}}
  {{#*inline "content"}}
    <div class="container manos">
      <h3 style="text-align:center">
        En esta sección describimos todos los servicios que Sofia Spa ofrece para la belleza y bienestar de las manos
      </h3>
    </div>
    <div class="container manos">
      <div class="row">
        <div class="col-md-12">
          <h2>Manicuria Regular | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 30min</span></h2> </div>
      </div>
      <div class="row img-underline">
        <div class="col-md-7">
          <h3> ¿En qué consiste la manicuría regular?</h3>
          <p>
            La manicuría regular se podría decir que es la vedette de todo servicio de manos.
            Se inicia con la eliminación de restos de esmalte con quitaesmalte.
            Se procede luego al corte, limado y forma de uña según requerimiento de la clienta.
            Continuamos con el repujado y extracción de cutícula. Se aplica una capa de esmalte base y protección con calcio. 
            El color es según la elección y tipo de esmalte. Para sellar y darle duración el esmalte se sella con un top-coat y para acelerar el secado se aplica spray de secado rápido. 

            La duración de la sesión es de aproximadamente 30 min.
          </p>
        </div>
        <div class="col-md-5"> <img src="imagenes/mareg.png" class="imagen center-block img-responsive regular"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Esmaltado Semipermanente | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1.15hs</span></h2> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>¿En qué consiste un esmaltado semipermanente?</h3>
          <p>
            Previo a su realización se hace una manicuría regular. El esmaltado de uñas semi-permanente es una técnica
            de manicuría que permite mantener las uñas perfectamente pintadas, sin estropearse, hasta aproximadamente 14 días. El esmalte que se utiliza es un gel acrílico mezclado con esmalte que se aplica sobre la uña y se endurece con rayos ultravioleta, en una cabina led. A diferencia de una manicuría clásica, el esmaltado semipermanente no necesita tiempo de secado.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>¿Qué ventajas tiene el esmaltado semipermanente?</h3>
          <p>
            Este esmalte ha significado algo ideal para las mujeres ocupadas que no tienen tiempo de retocarse las uñas, o para las que necesitan sus manos impecables las 24 horas del día. Existe a una gran variedad de colores radiantes para elegir. Es una solución práctica y eficaz para llevar una manicuría perfecta en cualquier situación.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="esculpidas">
          <h2>Uñas Esculpidas | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1.30 a 2hs</span></h2> </div>
      </div>
      <div class="row img-underline">
        <div class="col-md-7">
          <p>
            Las uñas esculpidas son un tratamiento estético de prolongación y embellecimiento de la uña natural.
            Esta indicado para personas con problemas de onicofagia (comerse las uñas), para extensión de la punta o borde libre a partir de diferentes técnicas. 
            Todas y cada una adecuada a la necesidad y requerimiento de la clienta, desde la más simple a la más elaborada.
            Para todo esto utilizamos los productos de ORGANIC NAILS, productos absolutamente testeados y que se dedica a la no contaminación de nuestras uñas. 

          </p>
          <p>
            Todas nuestras técnicas aseguran a que llegues al service sin problemas. El primer service se realiza a los 14 días y los 3 subsiguientes cada 20 días.
          </p>
          <h3>Sofia Spa ofrece todos los sistemas:</h3>
          <ul>
            <li>de Gel</li>
            <li>de Acrílico</li>
            <li>Tips + Gel</li>
            <li>Tips + Acrílico</li>
            <li>Cápsulas</li>
            <li>Estileto</li>
            <li>Art nails encapsulado, la vedette de sofía spa!!!</li>
          </ul>
        </div>

        <div class="col-md-5"> <img src="imagenes/esculpidas.jpg" class="imagen center-block img-responsive" > </div>
      </div>
      <div class="row">
          <div class="col-md-12">
          <p>La primer seción dura aproximadamente de 1.30 a 2 hs, las próximas veces tan solo 1 hs. Siempre encontraras un break de por medio en un cálido ambiente para disfrutes de la sesión. 
             </p>
           </div>
        </div>
      <h2>Spa | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1.30hs</span></h2>
      <h3>¿Qué son las manos? </h3>
      <p>
        Son una parte escencial de nuestro cuerpo que nos permite realizar una innumerable cantidad de tareas como,
        escribir, leer, pintar, lavar, tipear, aplaudir, sostener y podríamos seguir. ¿Pero realmente le damos la
        importancia que merecen? ¿Las protejemos como merecen? En Sofia Spa te brindamos un servicio de Spa de Manos
        completo, para que tus manos luzcan sanas y cuidadas. La duración de la sesión es de 1.30 hs. La misma consta
        de:
      </p>
      <ul>
        <li>Manicuría Regular</li>
        <li>Pulido con Dermoscrub + principios activos.
               <ul> 
                <li>Antiage</li>
                <li>Hidratantes</li>
                <li>Antimanchas</li>
                <li>Y para la piel escamada</li>
               </ul>
        </li>

        <li>Guante de Parafina </li>
      
      </ul>
      <p>Animate a darle un mimo a tus manos! Lo merecen!.</p>
    </div>
    <div class="heading3">
      <div class="row">
        <div class="col-md-12">Deco Art Nails </div>
      </div>
    </div>
    <div class="subheading-image">
      <img src="imagenes/Profesionales/original22.jpg">
    </div>
    <div class="container manos">
      <h2>Deco Art Nails Encapsulado | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 2hs</span></h2>
      <h3>¿Qué es Art Nails?</h3>
      <p>
        Son uñas esculpidas y decoradas con diseños super originales y a la vez encapsuladas. Están construidas con
        productos importados y sobre todo orgánicos sin tolueno ni nada que agreda la salud de nuestras clientas.
      </p>
      <p>
        Su rendimiento es verdaderamente duradero. Son estéticas, finas, fuertes y sobre todo fuera de lo común. La
        duración de la sesión es de aproximadamente 2 hs.
      </p>
      <p>
        Te invitamos a que mires nuestra galería y elijas tu diseño.
      </p>
      <div class="galeria">
        <div class="row">
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia1.jpeg"
              original="imagenes/manos/nail6.jpeg"
              size="1040x585"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia2.jpeg"
              original="imagenes/manos/unia2.jpeg"
              size="1040x585"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia3.jpeg"
              original="imagenes/manos/unia3.jpeg"
              size="1040x585"
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia4.jpeg"
              original="imagenes/manos/nail5.jpeg"
              size="1040x585"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia5.jpeg"
              original="imagenes/manos/nail10.jpeg"
              size="1280x720"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia6.jpeg"
              original="imagenes/manos/nail12.jpeg"
              size="716x578"
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia7.jpeg"
              original="imagenes/manos/nail2.jpeg"
              size="585x1040"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia8.jpeg"
              original="imagenes/manos/nail18.jpg"
              size="942x469"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia9.jpeg"
              original="imagenes/manos/nail17.jpg"
              size="624x624"
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia10.jpeg"
              original="imagenes/manos/nail16.jpg"
              size="946x624"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia11.jpeg"
              original="imagenes/manos/unia3.jpg"
              size="2448x3264"
            }}
          </div>
          <div class="col-md-4 item">
            {{>gallery-item
              thumbnail="imagenes/manos/reunia13.jpeg"
              original="imagenes/manos/uniarosa.jpg"
              size="960x540"
            }}
          </div>
        </div>
      </div>

       <div class="row">
           <div class="col-md-12">
          <h2>Los productos que utilizamos</h2>
           </div>
       </div>
       <div class="row">
          <div class="col-md-12">
          <p>
            Como ya sabés Sofia Spa piensa no solo en la belleza sino en la salud de tus manos.
            Para ello trabajamos con marcas líderes que garanticen todo eso.
            En Deco Art Nails utilizamos una línea de productos orgánicos sin tolueno: ORGANIC NAILS.
            Para pintar tus uñas, los esmaltes de EVER GLAZE están en la lista de nuestras marcas favoritas.
            Esta línea no solo la trabajamos en las sesiones sino que también las podés adquirir dentro de los <a href="productos.html">PRODUCTOS</a> que tenemos a la venta. Te invitamos a que pruebes su efectividad!</p>
          </div>
       </div>
       <div class="row">
        <div class="col-md-12">
          <div class="circulo">
            <img src="imagenes/Profesionales/organicnails.jpg">
            <img src="imagenes/Profesionales/everglaze.jpg">
          </div>
        </div>
       </div>
    </div>
    {{>link-promos}}
    {{>photoswipe}}
  {{/inline}}
  {{#*inline "scripts"}}
    <!-- Photoswipe JS Files -->
    <script defer="defer" src="js/ps/photoswipe.min.js"></script>
    <script defer="defer" src="js/ps/photoswipe-ui-default.min.js"></script>
    <script defer="defer" src="js/ps/initps.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(){ initPS('.galeria'); }, false);
    </script>
  {{/inline}}
{{/layout}}
