{{#> layout title="Sofia Spa" seccion="Spa de Pies"}}

  {{#*inline "css"}}
    <style type="text/css">
      .pies {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }
      .regular {
        margin-top: 36px;
      }
      .piesdeco, .piesdeco div {
        margin: 0;
        padding: 0;
      }
      .hora {
        color:#000;
        font-size: 0.75em;
        white-space: nowrap;
      }
    </style>
  {{/inline}}

  {{#*inline "content"}}
    <div class="container pies">
      <h3 style="text-align:center">
        En esta sección describimos todos los servicios que Sofia Spa ofrece para la belleza y bienestar de los pies.
      </h3>
    </div>
    <div class="container pies">
      <div class="row">
        <div class="col-md-12">
          <h2>Pedicuría Regular | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
        </div>
      </div>
      <div class="row img-underline">
      <div class="col-md-7">
      

      <h3>¿En qué consta la pedicuría regular?</h3>
      <p>
        La pedicuría va más alla de cortar, limar y pintar las uñas de los pies. Es una especialidad que engloba el cuidado integral de nuestros pies, uñas y talones.
      </p>
      
      <p>
        La pedicuría permite trabajar las durezas, retirandolos con ablandadores pédicos, torno y diferentes fresas. Y de este modo recuperar el bienestar de tu pie.
      </p>
      </div>
        <div class="col-md-5 ">
          <img src="imagenes/Profesionales/pies.jpg" class="img-responsive  " >
      </div>
    </div>

 
         <div class="row">
          <div class="col-md-12">
            <h2> Pedicuría Regular + Esmaltado Semipermanente | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1.30hs</span>
            </h2>
          </div>
        </div>
         <div class="row img-underline">
            <div class="col-md-12">
            <p>
            Aquí sumado a la pedicuría regular tenemos el esmaltado semipermanente. El mismo se trabaja con esmaltes en gel y cabina led. Este esmaltado cuenta con el beneficio de ser de larga duración, aproximadamente 20 días.
            Asegurandonos brillo y espesor, con colores radiantes.
            </p>
        </div>
        

      </div>

      <h2>Uñas Esculpidas + Deco 3D | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 2hs</span></h2>
      <p>Al igual que en manos ofrecemos el mismo servicio de <a href="spa-manos.html#esculpidas">uñas esculpidas</a> en pies, con la posibilidad de que luzcan bellas y divertidas con la decoración 3D que elijas. 
        
      </p>
      <div class="row img-underline piesdeco">
       <div class="col-md-12">
        <img src="imagenes/piesdeco.png" class="img-responsive">
       </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <h2>Spa | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1.30hs</span>
            </h2>
          </div>
      </div>
      <div class="row img-underline">
        <div class="col-md-7">
          
            <h3>¿Qué son los piés?</h3>
            <p>
              Constituyen una parte muy valiosa de nuestro cuerpo, ellos te llevan a recorrer varios kilometros, son tu base y te ayudan a mantener la postura.
              Y muchas veces por nuestro descuido, sufren las consecuencias de utilizar calzados que los aprisionan en pro de la belleza generando así pies doloridos y cansados. 

            </p>
        </div>
        <div class="col-md-5 ">
          <img src="imagenes/spapies.jpg" class="img-responsive regular" >
        </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              Por eso es conveniende darles el cuidado y la atención que merecen con un Spa pensado especialmente, aportando a la estética y la suavidad de los mismos.
            </p>
            <p>La duración de la sesión es de aproximadamente 1.30hs.</p>
            El Spa de Pies que ofrecemos incluye:
            <ul>
              <li>Belleza de Pies.</li>
              <li>Esmaltado tradicional.</li>
              <li>Pulido Pédico.</li>
              <li>Bota de Parafina.</li>
            </ul>
          </div>
       </div>
    </div>
    {{>link-promos}}
  {{/inline}}

{{/layout}}
