{{#> layout title="Sofia Spa" seccion="Spa de Pestañas"}}

  {{#*inline "css"}}
    <style type="text/css">
      .pestanas {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5em;
        max-width: 912px;
        line-height: 1.6em;
      }
      .regular {
        margin-top: 50px;
      }
      .hora {
        color:#000;
        font-size: 0.75em;
        white-space: nowrap;
      }

    </style>
  {{/inline}}

  {{#*inline "content"}}
    <div class="subheading-image">
      <img src="imagenes/Profesionales/pesta1final.jpg">
    </div>
    <div class="container pestanas">
      <h3 style="text-align:center">
        En esta sección describimos todos los servicios que Sofia Spa ofrece para la belleza y bienestar de las pestañas.
      </h3>
    </div>
    <div class="container pestanas img-underline">

      <div class="row">
        <div class="col-md-7">
          <h2>Permanente | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 1hs</span></h2>
          <h3>La importancia de nuestras pestañas</h3>
          <p>
            Nuestras pestañas no son un tema menor, la importancia de tenerlas saludables no es una cuestión solo estética, ellas sirven de protección al ojo, evitando asi la entrada de polvo, objetos extraños y hasta de posibles infecciones. La realidad es que es muy poca la atención que les brindamos, teniendo entonces como resultado pestañas frágiles, en muy poca cantidad y perdiendo así su función protectora.
          </p>
          <h3>¿A qué llamamos permanente de pestañas?</h3>
          <p>Llamamos permanente de pestañas al rizado de tus pestañas naturales. Se obtiene como resultado más volumen y una ondulación pronunciada.
          </p>
          
         </div>
        <div class="col-md-5">
          <img src="imagenes/permanente/permanente2.jpeg" class= "img-responsive regular">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            La permanente de pestañas tiene una duración de entre 1 a 3 meses, luego sufren una depuración biologica y regresan a su estado natural. Es muy elegida por quienes poseen pestañas quebradizas, rectas, con remolinos, en línea descendiente o cortas.
          </p>

        </div>
      </div>
       <div class="row">
        <div class="col-md-12">
          <h3>¿Qué beneficios trae?</h3>
          <p>
            En el mercado de cosmética hay innumerables marcas de mascaras de pestañas pero lamentablemente muchas su efecto dura pocas horas o a veces directamente no se logra a obtener la forma que deseamos. La realización de permanente de pestañas no sólo aporta aumento de la curvatura, sino que también volumen, nutrición y protección. Por el considerable rendimiento en duración del tratamiento ya no tendrás que estar horas frente al espejo para lograr arquearlas.
          </p>
        </div>

      </div>


      <h2>Tintura | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 15min</span></h2>
      <h3>Tintura de pestañas y sus beneficios</h3>
      <p>
        El tinte de pestañas es otra técnica capaz de brindar expresividad y profundidad a tu mirada, es una opción ideal frente al maquillaje diario y un excelente complemento del tratamiento permanente de pestañas.
        Trabajamos con productos hipoalergénicos, de líneas españolas y alemanas. Los colores que utilizamos son marrón y negro azabache. No es contraproducente con algún problema de vista. 
        A su vez contamos con una máscara de pestañas incolora, hidratante y con colágeno.
        
        Juntos hacen que te olvides por completo del color, arqueado, protección y volúmen de las mismas en el momento de maquillarte.
      </p>


      <h2>Extensiones | <span class="hora"><span class="glyphicon glyphicon-time " ></span> 2hs</span></h2>

      <h3>¿Cómo se realiza y cual es su duración?</h3>
      <p>
        Las extensiones se realizan pelo a pelo sobre tu pestaña natural y por cada una se incorpora una pestaña de seda que dará más volumen, largo y espesor.
        Trabajamos con productos de primera calidad. El pegamento médico que se utiliza avala tus hábitos rutinarios.
        La primer sesión tiene una duración aproximada de 2hs. Y brindamos un service cada 15 días de 1hs de duración, para que tus pestañas se mantengan relucientes. La durabilidad del tratamiento es sin límite.
      </p>

      <h2>Sobre los Productos que utilizamos</h2>
      <p>Todos estos productos que usamos en tintura, extensiones y permanente de pestañas son hipoalergénicos, estan dermatológicamente testeados y aprobados por la industria cosmética profesional como el A.N.M.A.T (Argentina) y el F.D.A (USA).</p>


    </div>
    {{>link-promos}}
  {{/inline}}

{{/layout}}
